body, html{
    height: 100%;
}

h2{
    font-family: "Lobster", Sans-serif;
    color: brown;
}

h1{
    font-family: "Lobster", Sans-serif;
    color: brown;
    text-shadow:1px 1px 0 #444
}
button{
    color: red;
    font-family: "Lobster", Sans-serif;
    background: black;
    border-radius: 15px;
    box-shadow: #444;
}

.jumbotron{
margin: 20px;
padding: 20px;
background: #D3D3D3;
}
.scroll{
    color: skyblue;
    font-size: 25px;
    font-style: bold;
}
 .row{
     display: none;
 }
  .result1{
      font-style: italic;
      font-family: "Lobster", Sans-serif;
  }
  .result2{
    font-family: "Lobster", Sans-serif;
  }

  