body, html{
    height: 100%;
}

h2{
    font-family: "Lobster", Sans-serif;
    color: brown;
    font-size: 40px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

h1{
    font-family: "Lobster", Sans-serif;
    color: brown;
    text-shadow:1px 1px 0 #444
    font-size: 80px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
button{
    color: red;
    font-family: "Lobster", Sans-serif;
    background: black;
    border-radius: 15px;
    box-shadow: #444;
}

.jumbotron{
margin: 20px;
padding: 20px;
background: #D3D3D3;
}
.scroll{
    color: skyblue;
    font-size: 25px;
    font-style: bold;
}
 .container{
     display: none;
 }
  .result1{
      font-style: italic;
      font-family: "Lobster", Sans-serif;
  }
  .result2{
    font-family: "Lobster", Sans-serif;
  }

  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  #start{
      width: 30%;
      
  }
  